.create-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.create-product-form {
  width: 70%;
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-top: 5px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #f0c14b;
  color: #111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: block;
}

.submit-button:hover {
  background-color: #d8a109;
}
