.home-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image-container {
    height: 200px; 
    overflow: hidden;
  }
  
  .product-image {
    width: 60%;
    height: 100%;

  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-price {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .add-to-cart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #e68a00;
  }
  